.content-section {
  min-height: 757px;
  box-sizing: border-box;
}

.header {
  display: grid;
  grid-template-areas: "header";
  grid-template-columns: 1fr min-content 1fr;
  align-items: center;
  font-size: 18px;
  padding: 92px 50px 96px;
}

.header__menu-list {
  grid-column: 1;
  grid-row: 1;
  display: flex;
  flex-direction: row;
  list-style: none;
  gap: 32px;
}

.header__menu-item {
  list-style: circle;
}

.header__menu-item_no-bullit{
  list-style-type: none;
}


.header__logo {
  display: block;
  grid-column: 2;
  grid-row: 1;
  width: 130px;
}

.header__address {
  grid-column: 3;
  grid-row: 1;
  display: flex;
  flex-direction: column;
  align-items: end;
  font-style: normal;
}

.header__address-list {
  list-style: none;
  margin-right: 35px;
  line-height: 24px;
}

.header__address-item_active {
  text-decoration: underline;
  text-underline-offset: 2px; 
}

.cover{
  position: relative;
  background-image: url(../images/cover.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  color: #fff;
  padding: 165px 50px 50px 50px;
  text-transform: uppercase;
  width: 100%;
}


.overlay{
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.6);
}


.cover__title {
  font-size: 100px;
  margin-bottom: 109px;
  letter-spacing: 30px;
  line-height: 114px;

}

.aligned-text{
  display: block;
  margin-bottom: 20px;
  position: relative;
  z-index: 2;
}

.aligned-text_center{
  text-align: center;
}

.aligned-text_right{
  text-align: right;
}

.no-letter-spacing{
  letter-spacing: 0;
}

.cover__description {
  align-items: center;
  display: flex;
  font-size: 22px;
  line-height: 28px;
  justify-content: space-between;
}

.cover__text{
  word-spacing: 19px;
  z-index: 2;
}

.cover__button {
  margin-right: 0;
  background-color: transparent; /* Прозрачная кнопка */
  border: 1px solid #fff;
  color: #fff;
  cursor: pointer;
  padding: 12px 32px 11px 31px;
  text-transform: uppercase;
  z-index: 2;
}

.lots {
  display: flex;
  margin-top: 180px;
  min-height: 723px;
  color: #000000;
  flex-direction: column;
}

.lots__title {
  padding-top: 5px;
  padding-left: 64px;
  margin-bottom: 27px;
}

.lots-about__title {
  font-weight: 700;
  text-transform: uppercase;
  font-size: 40px;
  line-height: 100%;
}

.lots__list {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  gap: 25px;
  list-style: none;
  color: #fff;
  margin-left: 24px;
  margin-top: 3px;

}

.lots__setting-image{
  width: 334px;
  min-height: 596px;
  gap: 25px;
}

.lots__list-accent{
  height: 100%;
  font-weight: 700;
  font-size: 22px;
  text-decoration: underline;
  text-transform: uppercase;
  font-weight: 700;
  padding-top: 48px;
  padding-left: 40px;
  padding-right: 40px;
  z-index: 2;
}

.lots__article{
  font-weight: 400;
  font-size: 20px;
  padding-left: 40px;
  padding-right: 40px;
  padding-bottom: 48px;
  z-index: 2;
  line-height: 120%;
}


.lots__list-film {
  position: relative;
  display: flex;
  flex-direction: column;
  background-image: url(../images/card-lot-01.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

.lots__list-book {
  position: relative;
  display: flex;
  flex-direction: column;
  background-image: url(../images/card-lot-02.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

.lots__list-picture {
  position: relative;
  display: flex;
  flex-direction: column;
  background-image: url(../images/card-lot-03.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

.lots__look-more-link{
  font-size: 20px;
  line-height: 100%;
  text-decoration: underline;
  padding-top: 30px;
  padding-left: 64px;
  margin-bottom: 108px;
}


.about {
  display: grid;
  grid-template-columns: 334px 1fr; 
  padding-top: 50px;
  padding-left: 24px;
  padding-right: 24px;
}

.about__circle{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 240px;
  height: 240px;
  background-color: #000000;
  border-radius: 50%;
  margin: 0 auto;
}

.about__logo{
  display: block;
  width: 142px;

}

.about__logo-image {
  width: 148px;
  height: 114px;
  display: block;
}

.about__text {
  display: flex;
  flex-direction: column;
  margin-top: 5px;
  margin-left: 25px;
  line-height: 24px;
  padding-right: 10px;
}

.about__title {
  font-weight: 700;
  text-transform: uppercase;
  font-size: 40px;
  line-height: 100%;
  margin-top: 100px;   
  margin-bottom: 100px;
}

.about__p {
  font-size: 20px;
  padding-bottom: 24px;
  line-height: 24px;

}

.about__pp {
  font-size: 20px;
}


.footer {
  display: grid;
  grid-template-areas: "footer";
  grid-template-columns: 1fr 1fr 1fr ;
  align-items: center;
  padding: 0 50px 96px 50px;
  font-size: 18px;
  margin-top: 16px;
}


.footer__address-list {
  grid-column: 1;
  grid-row: 1;
  display: flex;
  flex-direction: column;
  text-align: left;
  list-style: none;
  font-style: normal; 
  margin-top: 15px;
  line-height: 24px;
}

.footer__menu{
  grid-column: 2;
  grid-row: 1;
  text-align: center;
  margin-bottom: 15px;
}

.footer__menu-list{
  list-style: none;
}

.footer__icons {
  grid-column: 3;
  grid-row: 1;
  display: flex;
  flex-direction: row;
  justify-content: end;
  margin-bottom: 30px;
  gap: 48px;
}


.footer__icons-image {
  display: block;
  width: 48px;
}

.footer__menu-item_active {
  list-style: none;
  text-decoration: underline;
}
